*{
    margin: 0%;
    padding: 0%;
}
body{
    height: 100%;
    background-color: #ee6ea0;
}
/*          Navbar                 */
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #E94182;
    height: 100px;
}
.main_button{
    display: flex;
}
.brand_logo{
    width: 100px;
    border-radius: 50%;
    margin-left: 34px;
}
.cart{
    width: 68px;
    border-radius: 50%;
    margin-left: -142px;
    margin-top: 16px;
}
.brand{
    width: 120px;
}
.address{
    width: 40px;
    margin-left: -61px;
    text-align: center;
    color: azure;
}
.search_box{
    width: 700px;
    display: flex;
    justify-content: center;
}
.search{
    width: 600px;
    height: 50px;
    margin-top: 22px;
    margin-left: -145px;
}
.glass{
    width:50px;
    height: 53px;
    margin-top: 22px;
}
.main_button{
    width: 118px;
    margin-left: -39px;
    display: flex;
    justify-content: center;
}
.account{
    width: 99px;
    margin-left: -112px;
    height: 29px;
    margin-top: 32px;
    background-color: #FF711A;
    border: none;
    border-radius: 9%;
}
.help{
    width: 99px;
    margin-left: 6px;
    height: 29px;
    margin-top: 32px;
    background-color: #FF711A;
    border: none;
    border-radius: 9%;
}

/*          Bottom Navbar                 */

.offer,.phone,.app,.electronics,.makeup,.cloth,.sofa,.plane,.fruit{
    border-radius: 50%;
    width: 124px;
    margin-top: 10px;
}
.bottom-navbar{
    display: flex;
    justify-content: space-around;
    background-color: #E94182;
    text-decoration: none;
    height: 32px;
    border: 1px solid azure;
}
.bottom-nav{
    color: azure;
    text-align: center;
    text-decoration: none;
    margin-top: 5px;
}

/*            Banner                */
.smart-banner{
    width: 100%;
    height: 75vh;
}

           /* Product         */

.product-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}           
.product{
    background-color: #f0aac7;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border: #f0aac7;
    margin: 18px 28px 13px 23px;
    flex-wrap: wrap;
}
.product_image img{
    width: 200px;
} 
.product_price h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.product_price h5 b {
    margin-right: 10px; /* Adjust the spacing as needed */
}
.product_price h5 s {
    margin-right: 10px; /* Adjust the spacing as needed */
 }
.add_to_cart{
    background-color: orange;
    border: 0px;
    position: relative;
    margin: 6px 13px 1px 8px;
    width: 180px;
}
.product_rating{
    margin-left: 52px;
    margin-top: 5px;
    margin-bottom: 5px;
}


 







